MEDUSA_ADMIN_ONBOARDING_TYPE=nextjs
STORE_CORS=http://localhost:8000,https://docs.medusajs.com
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
AUTH_CORS=http://localhost:5173,http://localhost:9000,http://localhost:8000,https://docs.medusajs.com
REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret
DATABASE_URL=postgres://myadmin:mypassword@localhost/stripe-ws-db
MEDUSA_ADMIN_ONBOARDING_NEXTJS_DIRECTORY=soteria4-storefront
MEDUSA_BACKEND_URL=http://localhost:9000

SECRET_STRIPE_API_KEY=REPLACE-THIS-WITH-YOUR-STRIPE-API-KEY
SECRET_STRIPE_WEBHOOK_SECRET=REPLACE_WITH_STRIPE_WEBHOOK_SECRET
MEDUSA_SK=REPLACE_WITH_MEDUSA_SK
